* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #d4c067;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.text-uppercase {
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}
/*    BUTONLAR KISMI   */

.buton {
    margin-top: 2rem;
    font-weight: 400;
    display: inline-block;
    border: 2px solid #d4c067;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: all 0.5s;
}
.buton-outline {
    background-color: #172950;
    border-color: #d4c067;
}
.buton-outline:hover {
    color: #fff;
    background-color: #d4c067;
    border-color: #fff;
}
.buton-large{
    font-size: 2rem;
    padding: 2.2rem 1.6rem;
}



/* Navbar Kısmının Oluşturulması*/

nav {
    width: 100%;
    background-color: #172950;
    color: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: fixed;
    z-index: 500;
}

#logo-box {
    float: left;
    padding-left: 2rem;
    padding-top: 0.5rem;
}

#logo-box .logo {
    color: #fff;
    font-weight: 700;
    font-size: 2.8rem;
    transition: 0.5s;
}

#logo-box .logo:hover {
    color: #d4c067;
}

#nav-links {
    float: right;
}

#nav-links .nav-item {
    float: left;
    margin: 1rem;
}

#nav-links .nav-link {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    display: block;
    padding: 1.6rem;
    letter-spacing: 0.1rem;
    transition: color 0.4s;
}

#nav-links .nav-link:hover {
    color: #d4c067;
}

#nav-links .nav-icon {
    display: none;
}

/* HEADER KISMININ OLUŞTURULMASI*/
header {
    height: 562px;
    padding-top: 10rem;
}

header .bg-image {
    position: absolute;
    background-image: url(images/4.gif);
    background-size: cover;
    background-position: center;
    height: 46rem;
    width: 100%;
    z-index: -1;
}

/* ABOUT KISMININ OLUŞTURULMASI */

#about {
    background-color: #172950;
    color: #fff;

}

#about h2 {
    font-size: 4.8rem;
    text-align: center;
}

#about-text {
    text-align: left;
}

#about-text .left {
    float: left;
    width: 50%;
    padding-right: 2rem;
    padding-left: 23rem;
}

#about-text .text {
    font-size: 2rem;
}

#about-text .right {
    float: right;
    width: 50%;
    padding-right: 23rem;
    padding-left: 2rem;
}
#okul {
    color: #d4c067;
}

.buton-large a{
    color: #fff;
}